<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Blog</title>
<style type="text/css" media="screen">
p {font:400 14px/50px Arial;color:#333;text-align:center;}
</style>
</head>
<body>
<p >404 Not Found -_-!</p>
<script type="text/javascript">
    setTimeout(function () {
        location.href = '/'
    }, 2000);
</script>
</body>
</html>
