<%- include header.html %>
<script type="text/javascript" src="/js/cate.js"></script>

<div id="coreContent" class="core_content">

<div class="admin_hd">添加项目</div>
<form method="post" class="cate_add_form form-horizontal" enctype="multipart/form-data">
    <div class="form-group">
        <label class="form_key ">项目名称</label>
        <div class="form_val">
            <input type="text" name="project_name" value="<%=data.project_name || '' %>" class="form-control" >
        </div>
    </div>
    <div class="form-group">
        <label class="form_key ">项目标识</label>
        <div class="form_val">
            <input type="text" name="vid" id="vidText" value="<%=data.vid || '' %>" class="form-control" > 
            <span id="vidCheckRet"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="form_key ">管理员</label>
        <div class="form_val" id="managerSection">
            <input type="hidden" name="manager" id="managerList" class="manager_list" value="<%=data.manager || username %>">
            <div class="user_item_list">
            </div>

            <input type="text" value="" class="input_add_user">
        </div>
    </div>
    <div class="form-group">
        <label class="form_key ">项目成员</label>
        <div class="form_val">
            <input type="hidden" name="member" value="<%=data.member || ''%>">
            <input type="text" value="" class="user_item_ipt">
        </div>
    </div>
    <div class="form-group">
        <label class="form_key ">访问权限</label>
        <div class="form_val">
            <input type="checkbox" name="private" <%=(data.private && 'checked' || '')%> value="1"> 仅项目成员可见
        </div>
    </div>
    <div class="form-group">
        <label class="form_key ">Logo图片</label>
        <div class="form_val">
            <div class="input_file_wrap" style="background-image:url(<%=data.logo || 'about:blank'%>)">
                <input type="file" name="logo" >
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="form_key ">封面图片</label>
        <div class="form_val">
            <div class="input_file_wrap" style="background-image:url(<%=data.cover || 'about:blank'%>)">
                <input type="file" name="cover" >
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="form_key ">项目颜色</label>
        <div class="form_val">
            <input type="hidden" name="theme" value="<%=data.theme || 'blue'%>" >
            <span>red </span>,
            <span>blue </span>
        </div>
    </div>
    <div class="form-group">
        <label class="form_key ">&nbsp;</label>
        <div class="form_val">
            <button type="submit" class="btn_alex btn_alex_success">添加</button>
        </div>
    </div>
</form>

</div>
<%- include footer.html %>
