
<footer>
    &copy; TGideas All rights reserved.
</footer>

<script src="/js/wangEditor.js"></script>
<script>
    $(function(){
        $('#coreContent').css('minHeight', $(window).height() - $('header').height() - $('footer').height() )
    })
</script>

</body>
</html>
