<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>GuideLine - <%= title%></title>
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap-theme.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/wangEditor.min.css">
<script src="/js/jq.js"></script>
</head>
<body>

<header class="admin_header">
    <div class="admin_logo">Logo</div>

    <% if (success || error) { %>
    <div class="admin_msg" id="adminMsg"> <%= success || error %> </div>
    <% } %>
    <div class="admin_welcome">
        <% if (username) { %>
            <% if (data.isManager) { %>
                <span class="btn btn-success">编辑</span>
                <a href="/cate/edit/<%=data._id %>" target="_blank" class="btn btn-success">管理</a>
            <% }else if (data.isMember) { %>
                <span class="btn btn-success">编辑</span>
            <% } %>
            <span class=""><%= username %>， </span>
            <a href="/cate/get">后台管理</a>
        <% } else { %>
            <a title="登录" href="/login">登录</a>
        <% } %>
    </div>
</header>
