<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title><%= title%></title>
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap-theme.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/wangEditor.min.css">
<script src="/js/jq.js"></script>
</head>
<body>

<header class="admin_header">
    <div class="admin_logo">Admin</div>

    <% if (success || error) { %>
    <div class="admin_msg" id="adminMsg"> <%= success || error %> </div>
    <% } %>
    <div class="admin_welcome">
        <% if (user) { %>
        <span class=""><%= locals.user.name %>， </span>
        <a href="/logout">退出</a>
        <% } else { %>
        <a title="登录" href="/login">登录</a>&nbsp;&nbsp;<a title="注册" href="/reg">注册</a>
        <% } %>
    </div>
</header>

<script type="text/javascript">
(function () {
    setTimeout(function () { $('#adminMsg').fadeOut(1000) }, 500);
})();
</script>

<section>
    <nav class="admin_nav">
        <a class="def" target="_blank" href="/">站点首页</a>
        <% if (user) { %>
        <a href="/post" <%if(locals.path==='post'){%>class="active"<%}%>>添加文档</a>
        <a href="/post_manage" <%if(locals.path==='post_manage'){%>class="active"<%}%>>文档管理</a>
        <a href="/cate" <%if(locals.path==='cate'){%>class="active"<%}%>>品牌管理</a>
        <% } %>
    </nav>

    <article>
    <div class="core_cont">

