<%- include header.html %>
<div id="coreContent" class="core_content">


<h2 ><%=data.project_name %></h2>
<input type="hidden" id="projectId" value="<%=data._id %>"/>
<input type="hidden" id="treemenuStr" value="<%=data.treemenu || '' %>"/>

<div class="show_cont">
    <div class="show_side">
        <div id="menus" class="menus">
        </div>

        <span id="btnAddMenu" class="btn btn-primary">add menu</span>
    </div>
    <div class="show_main">
        <div id="viewMode" class="">
            
        </div>

        <div id="editMode" class="">
            <textarea class="form-control " id="postContent" name="post" rows="20" ></textarea>
        </div>
    </div>
</div>

<script src="/js/wangEditor.js"></script>
<script src="/js/show.js"></script>

</div>
<%- include footer.html %>
