<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title><%= title%></title>
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap-theme.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/wangEditor.min.css">
<script src="/js/jq.js"></script>
</head>
<body>

<header>
    <select id="changeCate">
        <% cate.forEach(function (item) { %>
        <option value=<%= item %> <% if(item===post.cate){ %>selected<% } %> ><%= item %></option>
        <% }) %>
    </select>
    <script type="text/javascript">
        $(function () {
            $('#changeCate').on('change', function () {
                console.log($(this).val()) ;
                window.location.href = '/show/' + $(this).val() ;
            })
        })
        
    </script>
    <div class="welcome">
        <% if (user) { %>
        <span class="">欢迎您 <%= locals.user.name %>, </span>
        <a href="/logout">退出</a>&nbsp;&nbsp;|&nbsp;
        <a href="/post_manage">后台管理</a>
        <% } else { %>
        <a title="登录" href="/login">登录</a>
        <a title="注册" href="/reg">注册</a>
        <% } %>
    </div>
</header>

<section>
