* {box-sizing:content-box;}
ul,li,dd {list-style:none;padding:0px;margin:0px;}
textarea,
select,
input {box-sizing:border-box;}

/* =====footer===== */
.footer {height:80px;line-height:80px;background-color:#3B3A3F;color:#ccc;font-family: verdana;text-align:center;}

/* layout */
section {position:relative;padding-left:180px;overflow:hidden;}
article{font-size:16px;min-height:700px;padding:20px 20px 20px 20px;background-color:#F1F1F2;padding-bottom:1000px;margin-bottom:-1000px;}
.core_cont {width:1000px;}

/* =====bootstrap rest===== */
.form-horizontal .form-group {margin-left:0px;margin-right:0px;}
.form_key {float:left;width: 100px;height:34px;line-height:34px;text-align:center;}
.form_val {float:left;width: 850px;}
.form_val input ,
.form_val select {width:42%;}

/* ==================== */
/* =====Admin Part===== */
/* ==================== */

/* hd */
.admin_header {height:70px;line-height:70px;background-color:#FAFAFB;zoom:1;border-bottom:1px solid #ddd;text-align:center;}
.admin_header:after {content:'';display:block;clear:both;height:0;visibility:hidden;}
.admin_logo {float:left;position:relative;height:71px;width:180px;font:400 30px/70px verdana,Arial;color:#ddd;background-color:#3B3A3F;}
.admin_msg {float:left;margin-left:20px;margin-top:20px;height:30px;line-height:30px;padding:0px 10px;background-color:#d9edf7;color:#31708f;border:1px solid #bce8f1;border-radius:5px;}
.admin_welcome {float:right;padding-right:20px;}

/* nav */
.admin_nav {position:absolute;top:0px;left:0px;width:180px;padding-bottom:1000px;padding-top:10px;margin-bottom:-1000px;background-color:#353439;text-align:center;}
.admin_nav a {display:block;height:45px;line-height:45px;color:#ccc;text-decoration:none;}
.admin_nav a.def {color:#fff;}
.admin_nav a.active {color:#00CE9B;}

.admin_hd {height:20px;line-height:20px;margin-top: 10px;text-indent:16px;border-left:4px solid #555;}
.admin_bd {padding-left:20px;padding-top:20px;color: #666;}

/* post mange */
.admin_post_list li {width:100%;height:40px;line-height:40px;padding:5px 0px;border-bottom: 1px solid #e5e5e5;zoom:1;overflow:hidden;}
.admin_post_list li .tit {float:left;width: 300px;height:100%;}
.admin_post_list li .cate {float:left;width: 150px;}
.admin_post_list li .custom_cate {float:left;width: 150px;}
.admin_post_list li .author {float:left;width: 100px;color:#999;}
.admin_post_list li .time {float:left;width: 150px;color:#999;}
.admin_post_list li .btn {float:left;margin-top:3px;margin-left: 10px;}

/* =====cate page===== */
.cate_add_form {padding-top:20px;padding-bottom: 10px;}
.cate_add_form .form_val input,
.cate_add_form .form_val button {float:left;margin-right:10px;}

.cate_bd ul {zoom:1;overflow:hidden;}
.cate_bd li {position:relative;margin: 10px 30px 10px 0;float:left;width:350px;height: 50px;line-height:50px;background-color:#fafafa;text-indent:10px;cursor:default;border: 1px solid #eee;border-radius:2px;}
.cate_bd li .btn {position:absolute;right: 10px;top:10px;padding:3px 10px;text-indent:0px;}
.cate_bd li .btn-default {right: 70px;}

.cate_bd li .edit_area {position:absolute;left:0px;top:0px;width:100%;height:100%;background: #eee;}
.cate_bd li .edit_area input {height: 28px;border: 1px solid #ccc;border-radius: 3px;padding: 6px;width: 205px;}
.cate_bd li .edit_area input:focus {outline:none;border-color:#999;}

/* ==================== */
/* =====Show  Part===== */
/* ==================== */

.show_header {height:100px;line-height:100px;zoom:1;border-bottom:1px solid #ddd;text-align:center;}
.show_header:after {content:'';display:block;clear:both;height:0;visibility:hidden;}
.show_logo {float:left;width:170px;margin:10px 0 10px 10px;height:80px;font:400 30px/80px verdana,Arial;color:#ddd;background-color:#3B3A3F;}
.show_header select {float:left;margin-top:10px;margin-left:10px;}
.show_welcome {float:right;padding-right:20px;}

/* menu */
.show_nav {position:absolute;top:0px;left:0px;width:180px;padding-bottom:1000px;padding-top:10px;margin-bottom:-1000px;background-color:#eee;}
.show_nav dl {padding-left:20px;}
.show_nav dt {margin:10px 0px;}
.show_nav dd {padding-left:20px;height:28px;line-height:28px;}
.show_nav a {display:block;color:#666;text-decoration:none;overflow:hidden;text-overflow:ellipsis;word-break:keep-all;white-space:nowrap;}
.show_nav a.active {color:#39f;}

.show_core {background-color:#fff;}

/* show post */
.show_post_title {height:50px;line-height:50px;font-size:16px;font-weight: 700;}
.show_post_info {line-height:20px;padding:8px 0px;font-size: 14px;font-family: arial;border-top:1px solid #eee;border-bottom:1px solid #eee;color: #bbb;}
.show_post_cont {line-height:25px;padding:10px 0;color:#333;}
.show_post_cont p {margin:10px 0px;}
